<h1>Course Listing</h1>
<ul>
    <li>Code: CS111</li>
    <li>Name: Intro computer science</li>
    <li>Description: A thorough intro to Computer science</li>
</ul>

<ul>
    <li>Code: CS11</li>
    <li>Name: Intro computer science</li>
    <li>Description: A thorough intro to Computer science</li>
</ul>